body{
	background-color:#000000;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#loginbox{
	background-color:#363636;
	width:380px;
	height:430px;
	margin:140px auto 0px;
	border-radius:5px; 
}
#loginboxinterno{
	width:360px;
	height:410px;
	background-color:#FFFFFF;
	position:absolute;
	margin:10px;
	border-radius:5px;
	box-shadow:0px 0px 5px #E8E8E8
	overflow:hidden;
} 
#loginboxlabel{
	background-color:#000000;
	height:45px;
	text-align:center;
	color: #FFA500;
	font:bold 20px/40px sans-serif;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:1px solid #696969;
	text-shadow:1px 0px 1px #FF8C00;
} 
.inputdiv{
	margin:20px;
	padding:5px;
	background-color:#f2f5f7;
	border-radius:3px;  
}
.inputdiv input{
	width:300px;
	height:35px;
	padding-left:5px;
	border-radius:3px;
	border:1px solid;
}
.inputdiv:hover input{
	border-color:#FF8C00;  

}
#inputEmail{
	margin-top:-10px;         
}
#inputSenha{
	margin-top:-10px;         
}
#inputSenha2{
	margin-top:-10px;         
}
#botoes{
	width:210px;
	margin-left:25px;
}
#botao{
	float:right;
	background-color:#FFA500;
	padding:5px 15px;
	font: bold 15px sans-serif;
	border-radius:20px;
	text-shadow:0px 1px 0px #FFFFFF;
	border:1px solid #9eb9c3;
	box-shadow:0px 0px 10px #aeaeae;
}
.menu{
	color: red;
	text-decoration: none;
}
#login a{
	text-decoration: none;
	color: blue;
}